/* --- Dual-Column Stylings --- */
.dual-container
{
  width: 75%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: "HK";
  box-shadow: inset 0px 0px 0px 4px #000;
  border-radius: 60px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.horizontal-container
{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

.offset-container
{
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

.left-right
{
  font-size: 2em;
  width: auto;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
}

.left
{
  justify-content: flex-start;
}

.right
{
  justify-content: flex-end;
}

.dual-image
{
  border: solid 4px #000;
  border-radius: 20px;
  max-width: 28vw;
  max-height: 34vw;
}

video
{
  margin: auto;
  max-width: 55vw;
}

h1.top
{
  margin-bottom: 40px;
}

/* --- Single-Column Stylings --- */
.single-container
{
  width: 70%;
  top: 8vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: "HK";
  padding-bottom: 50px;
}

.vertical-container
{
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

.center
{
  font-size: 2em;
  width: 86%;
  margin: auto;
  margin-bottom: 20px;
  text-align: left;
}

.text
{
  text-align: justify;
}

.single-image
{
  border: solid 4px black;
  border-radius: 20px;
  max-width: 55vw;
  margin: auto;
}
