:root {
  --backing: #ddd;
}

/* --- Dual-Column Stylings --- */
.dual-container
{
  width: 1400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: "HK";
  border: solid 4px black;
  border-radius: 60px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.horizontal-container
{
  width: 90%;
  height: auto;
  display: flex;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  font-size: 1.5em;
}

.center
{
  justify-content: center;
}

.justify-between
{
  justify-content: space-between;
}

.justify-around
{
  justify-content: space-around;
}

.width90
{
  width: 90%;
  margin-top: -30px;
}

.offset-container
{
  width: 90%;
  height: auto;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

a.project-link
{
  color: #000;
}

a.project-link:visited
{
  color: #000;
}

a.project-link:hover
{
  color: #000;
  text-decoration: underline;
}

/* --- Horizontal Image + Caption --- */
.left-right
{
  width: auto;
  display: flex;
}

.backing
{
  background-color: var(--backing);
}

.left
{
  justify-content: flex-start;
}

.right
{
  justify-content: flex-end;
}

.dual-image
{
  max-width: 28vw;
  max-height: 34vw;
}

/* --- Two Images Horizontally --- */
.column
{
  display: block;
  width: 48%;
}

.caption
{
  margin-top: 20px;
}

.bg
{
  transform: scale(0.9);
}

.bg-portrait
{
  width: 50%!important;
}

.borders
{
  margin-top: 50px;
  margin-bottom: 50px;
}

.shadow
{
  box-shadow: 0px 0px 5px #555;
}

.single-image
{
  max-width: 100%;
  max-height: 768px;
  margin-left: auto;
  margin-right: auto;
}

img.double
{
  width: 100%;
}

img.gridImg
{
  max-width: 28vw;
}

video
{
  margin: auto;
  width: 100%;
}

video.double
{
  max-width: 100%;
}

.heading
{
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 5%;
  width: 90%;
  justify-content: space-between;
}

.italics
{
  font-style: italic;
}

h2.subtitle
{
  margin-left: 5%;
  margin-bottom: 20px;
}

/* --- Single-Column Stylings --- */
.single-container
{
  width: 70%;
  top: 8vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: "HK";
  padding-bottom: 50px;
}

.vertical-container
{
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

.center-caption
{
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: left;
}

.text
{
  text-align: justify;
}

.code
{
  white-space: pre-line;
  vertical-align: bottom;
  margin-bottom: 20px;
}

a.hyper
{
  color: #000;
  text-decoration: underline;
}

a.hyper:hover
{
  color: var(--shadow);
}

@media only screen and (max-width: 1555px) {
  .dual-container {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {

  .horizontal-container {
    display: block;
  }

  h1.top {
    text-align: center;
  }

  .left-right {
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .center-caption {
    font-size: 1.5em;
  }

  .overlap {
    display: block;
    font-size: 1.5em;
  }

  .arrows {
    display: none;
  }

  .column {
    width: 100%;
    margin-bottom: 20px;
  }

  .shadow {
    box-shadow: none;
    margin: 0px;
  }

  .gridImage1, .gridImage2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  video {
    width: 80vw;
  }

  video.double {
    max-width: 80vw;
  }
}
