/* --- Nav --- */
nav
{
	position: fixed;
	width: 100%;
	height: auto;
	font-family: "Albertus", sans-serif;
	line-height: 100px;
	color: black;
	z-index: 2;
	display: flex;
	justify-content: left;
	top: 10px;
}

#title
{
	position: relative;
	width: auto;
	font-size: 100px;
	float: left;
	padding-left: 1%;
	padding-right: 1%;
	font-weight: bold;
	font-family: "Albertus", sans-serif;
	color: #FFF;
	overflow-wrap: break-word;
	background-color: black;
	border-radius: 40px;
	display: flex;
	align-items: center;
	margin-left: 10px;
}

#title:hover
{
	background-color: #fff;
	color: #000;
	box-shadow:inset 0px 0px 0px 4px #000;
}

#title:active
{
	background-color: #000;
}

.navButton
{
	height: 100%;
	position: relative;
	margin-left: 2%;
	padding-left: 1%;
	padding-right: 1%;
	float: left;
	font-size: 70px;
	display: flex;
	align-items: flex-end;
	background-color: purple;
	border-radius: 40px;
	transition: background-color 0.1s, color 0.1s, box-shadow 0.05s linear;
}

.navButton:hover
{
	background-color: hotpink;
	box-shadow: 5px 5px 10px purple;
}

.navButton:active
{
	box-shadow: 0px 0px 0px purple;
}
