/* --- Nav --- */
:root {
  --button: #fc036f;
  --shadow: #c41661;
	--button-hover: #ff3b7c;
}

nav
{
	position: fixed;
	width: 75%;
	height: 5.4vw;
	font-family: "Albertus", sans-serif;
	color: black;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	top: 10px;
  margin-left: 12.5%;
}

nav.nav-scroll
{
	top: -2.7vw;
	transition: top 0.2s;
}

.nav-scroll .selected
{
	color: #fff!important;
	top: 0px;
}

.nav-scroll .navButton
{
	color: var(--button);
	box-shadow: 0px 0px 10px #000, inset 0px 0px 0px 4px var(--button);
}

.nav-scroll #title
{
	box-shadow: 0px 0px 10px #000;
}

	.nav-scroll:hover
	{
		top: 10px;
	}

	.nav-scroll:hover #title
	{
		color: #fff;
	}

	.nav-scroll:hover #title:hover
	{
		color: #000;
		background-color: #fff;
		box-shadow: 0px 0px 15px #000, inset 0px 0px 0px 4px #000;
	}

	.nav-scroll:hover .selected
	{
		color: var(--button)!important;
		top: 0px;
	}

	.nav-scroll:hover .navButton
	{
		color: #fff;
	}

	.nav-scroll:hover .navButton:hover
	{
		color: var(--button);
		background-color: #fff;
		box-shadow: 0px 0px 15px #000, inset 0px 0px 0px 4px var(--button)
	}

.nav-scroll #title
{
	color: #181818;
}

#title
{
	position: relative;
	font-size: 5vw;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 8px;
	margin-right: -8px;
	font-weight: bold;
	font-family: "Albertus", sans-serif;
	color: #FFF;
	overflow-wrap: break-word;
	background-color: #181818;
	border-radius: 2vw;
	display: flex;
	align-items: center;
  transition: background-color 0.2s, color 0.1s, box-shadow 0.2s;
	box-shadow: #000 -1px 1px 0,
                #000 -2px 2px 0,
                #000 -3px 3px 0,
                #000 -4px 4px 0,
                #000 -5px 5px 0,
                #000 -6px 6px 0,
                #000 -7px 7px 0,
                #000 -8px 8px 0;
}

#title:hover:not(.home-select)
{
	background-color: #444;
	color: #fff;
	box-shadow: #555 -1px 1px 0,
                #555 -2px 2px 0,
                #555 -3px 3px 0,
                #555 -4px 4px 0,
                #555 -5px 5px 0,
                #555 -6px 6px 0,
                #555 -7px 7px 0,
                #555 -8px 8px 0;
}

.home-select
{
  background-color: #fff!important;
  color: #000!important;
  box-shadow: inset 0px 0px 0px 4px #000!important;
	top: 8px;
	margin-left: 0px!important;
	margin-right: 0px!important;
}

#title:active:not(.home-select)
{
  background-color: #000;
	top: 8px;
	margin-left: 0px;
	margin-right: 0px;
	box-shadow: inset 0px 0px 0px 4px #000;
}

.navButton
{
	height: 100%;
	position: relative;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 4vw;
	display: flex;
	align-items: center;
	border-radius: 2vw;
	transition: background-color 0.2s, color 0.1s, box-shadow 0.2s;
  background-color: var(--button);
	box-shadow: var(--shadow) -1px 1px 0,
                var(--shadow) -2px 2px 0,
                var(--shadow) -3px 3px 0,
                var(--shadow) -4px 4px 0,
                var(--shadow) -5px 5px 0,
                var(--shadow) -6px 6px 0,
                var(--shadow) -7px 7px 0,
                var(--shadow) -8px 8px 0;
}

.selected:hover
{
	box-shadow: inset 0px 0px 0px 4px var(--button);
}

.navButton:hover:not(.selected)
{
	background-color: var(--button-hover);
	box-shadow: var(--button) -1px 1px 0,
                var(--button) -2px 2px 0,
                var(--button) -3px 3px 0,
                var(--button) -4px 4px 0,
                var(--button) -5px 5px 0,
                var(--button) -6px 6px 0,
                var(--button) -7px 7px 0,
                var(--button) -8px 8px 0;
}

.selected
{
  background-color: #fff;
  color: var(--button)!important;
	box-shadow: inset 0px 0px 0px 4px var(--button);
	top: 8px;
	margin-left: -8px;
	margin-right: 8px;
}

.navButton:active:not(.selected)
{
	background-color: var(--button);
	top: 8px;
	margin-left: -8px;
	margin-right: 8px;
	box-shadow: inset 0px 0px 0px 4px var(--button);
}

a.navButton
{
	text-decoration: none;
  color: #fff;
}

a:link
{
  text-decoration: none;
}

a:visited
{
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
	nav {
		height: auto;
		width: 100%;
		margin-left: 0;
		top: 0px;
		align-items: stretch;
	}

	.navButton {
		box-shadow: none;
		margin: 0px;
		font-size: 7vw;
		height: auto;
		width: 33%;
		border-radius: 0vw 0vw 5vw 5vw;
		z-index: 1;
		justify-content: center;
		top: -4px;
	}

	.selected, .selected:hover {
		top: -4px;
		box-shadow: 0px 0px 15px #000, inset 0px 0px 0px 4px var(--button);
		z-index: 2;
	}

	.home-select {
		top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		z-index: 2;
		box-shadow: 0px 0px 15px #000, inset 0px 0px 0px 4px #000!important;
	}

	#title {
		text-align: center;
		font-size: 7vw;
		border-radius: 0vw 0vw 5vw 5vw;
		box-shadow: inset 0px 0px 0px 4px #000;
		margin-left: 0px;
		margin-right: 0px;
		width: 34%;
		top: -4px;
		line-height: 1.3;
	}

	nav.nav-scroll, .nav-scroll:hover {
		top: 0px;
	}

	.nav-scroll .selected, .nav-scroll .selected:hover {
		top: -4px;
		z-index: 2;
	}

	.nav-scroll .selected {
		color: var(--button)!important;
	}

	.nav-scroll #title, .nav-scroll .navButton {
		color: #fff;
	}
}
