/* --- Nav --- */
nav
{
	position: fixed;
	width: 75%;
	height: 5.4vw;
	font-family: "Albertus", sans-serif;
	color: black;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	top: 10px;
  margin-left: 12.5%;
}

nav.nav-scroll
{
	top: -2.7vw;
	transition: top 0.2s;
}

.nav-scroll .selected
{
	color: #fff!important;
	top: 0px;
}

.nav-scroll .navButton
{
	color: #fcbd50;
	box-shadow: 0px 0px 10px #000, inset 0px 0px 0px 4px #fcbd50;
}

.nav-scroll #title
{
	box-shadow: 0px 0px 10px #000;
}

	.nav-scroll:hover
	{
		top: 10px;
	}

	.nav-scroll:hover #title
	{
		color: #fff;
	}

	.nav-scroll:hover #title:hover
	{
		color: #000;
		box-shadow: 0px 0px 15px #000, inset 0px 0px 0px 4px #000;
	}

	.nav-scroll:hover .selected
	{
		color: #fcbd50!important;
		top: 0px;
	}

	.nav-scroll:hover .navButton
	{
		color: #fff;
	}

	.nav-scroll:hover .navButton:hover
	{
		color: #fcbd50;
		box-shadow: 0px 0px 15px #000, inset 0px 0px 0px 4px #fcbd50
	}

.nav-scroll #title
{
	color: #181818;
}

#title
{
	position: relative;
	font-size: 5vw;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 8px;
	margin-right: -8px;
	font-weight: bold;
	font-family: "Albertus", sans-serif;
	color: #FFF;
	overflow-wrap: break-word;
	background-color: #181818;
	border-radius: 2vw;
	display: flex;
	align-items: center;
  transition: background-color 0.1s, color 0.1s;
	box-shadow: #000 -1px 1px 0,
                #000 -2px 2px 0,
                #000 -3px 3px 0,
                #000 -4px 4px 0,
                #000 -5px 5px 0,
                #000 -6px 6px 0,
                #000 -7px 7px 0,
                #000 -8px 8px 0;
}

#title:hover:not(.home-select)
{
	background-color: #fff;
	color: #000;
	box-shadow:inset 0px 0px 0px 4px #000,
								#000 -1px 1px 0,
                #000 -2px 2px 0,
                #000 -3px 3px 0,
                #000 -4px 4px 0,
                #000 -5px 5px 0,
                #000 -6px 6px 0,
                #000 -7px 7px 0,
                #000 -8px 8px 0;
}

.home-select
{
  background-color: #fff!important;
  color: #000!important;
  box-shadow: inset 0px 0px 0px 4px #000!important;
	top: 8px;
	margin-left: 0px!important;
	margin-right: 0px!important;
}

#title:active:not(.home-select)
{
  background-color: #000;
	top: 8px;
	margin-left: 0px;
	margin-right: 0px;
	box-shadow: inset 0px 0px 0px 4px #000;
}

.navButton
{
	height: 100%;
	position: relative;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 4vw;
	display: flex;
	align-items: center;
	border-radius: 2vw;
	transition: background-color 0.1s, color 0.1s, box-shadow 0.1s linear;
  background-color: #fcbd50;
	box-shadow: #d6a042 -1px 1px 0,
                #d6a042 -2px 2px 0,
                #d6a042 -3px 3px 0,
                #d6a042 -4px 4px 0,
                #d6a042 -5px 5px 0,
                #d6a042 -6px 6px 0,
                #d6a042 -7px 7px 0,
                #d6a042 -8px 8px 0;
}

.selected:hover
{
	box-shadow: inset 0px 0px 0px 4px #fcbd50;
}

.navButton:hover:not(.selected)
{
	background-color: #ffd666;
	box-shadow: #fcbd50 -1px 1px 0,
                #fcbd50 -2px 2px 0,
                #fcbd50 -3px 3px 0,
                #fcbd50 -4px 4px 0,
                #fcbd50 -5px 5px 0,
                #fcbd50 -6px 6px 0,
                #fcbd50 -7px 7px 0,
                #fcbd50 -8px 8px 0;
}

.selected
{
  background-color: #fff;
  color: #fcbd50!important;
	box-shadow: inset 0px 0px 0px 4px #fcbd50;
	top: 8px;
	margin-left: -8px;
	margin-right: 8px;
}

.navButton:active:not(.selected)
{
	background-color: #fcbd50;
	top: 8px;
	margin-left: -8px;
	margin-right: 8px;
	box-shadow: inset 0px 0px 0px 4px #fcbd50;
}

a.navButton
{
	text-decoration: none;
  color: #fff;
}

a:link
{
  text-decoration: none;
}

a:visited
{
	text-decoration: none;
}

@media only screen and (max-width: 600px) {
	nav {
		height: 15vw;
		width: 90%;
		margin-left: 5%;
		display: block;
	}

	.navButton {

	}

	#title {
		width: 100%;
		font-size: 11vw;
		border-radius: 5vw;
	}
}
