/* --- Resume --- */
#resume
{
	position: relative;
	width: 1400px;
	padding-bottom: 40px;
	padding-top: 50px;
	height: auto;
	border: solid 4px black;
	border-radius: 60px;
	background-color: #fff;
	font-family: "HK", sans-serif;
}

.chunk
{
	margin-bottom: 80px;
}

.piece
{
	margin-bottom: 60px;
}

.res-container
{
	width: 90%;
	margin: auto;
	padding: none;
}

.indent
{
	margin-left: 20px;
}

.centered
{
	text-align: center;
}

.date-loc
{

	font-size: 1.8em;
}

.org-info
{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 30px;
}

.left-col
{
	width: 60%;
	margin-right: 10px;
}

.right-col
{
	width: calc(40% - 10px);
}

.list
{
	margin-left: 40px;
	margin-bottom: 10px;
}

.interests
{
	margin-bottom: 10px;
}

/* --- Headers --- */
h2
{
	font-size: 2.4em;
	font-weight: bold;
	margin-top: 10px;
	font-family: "HK";
}

h3
{
	font-size: 2em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

h4
{
	font-size: 1.8em;
	margin-left: 20px;
	font-weight: bold;
}

p
{
	font-family: "HK", sans-serif;
	font-size: 1.8em;
}

/* --- Lists --- */
ul
{
	font-size: 1.8em;
	margin-left: 40px;
}

li
{
	list-style: none;
	margin-bottom: 20px;
}

@media only screen and (max-width: 1555px) {
  #resume {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
	#resume {
		font-size: 0.8em;
	}

	.org-info {
		display: block;
	}

	.left-col, .right-col {
		width: 100%;
	}

	.indent {
		margin-top: 10px;
	}

	.date-loc {
		margin-top: 10px;
	}

	h4, ul, .org-info, .indent, .interests, .list {
		margin-left: 0px;
	}

	.centered {
		font-size: 1.5em;
	}
}
