/* --- Resume --- */
#resume
{
	position: relative;
	width: 75%;
	padding-bottom: 40px;
	padding-top: 20px;
	height: auto;
	border: solid 4px black;
	border-radius: 60px;
	background-color: #fff;
	font-family: "HK", sans-serif;
}

.res-container
{
	width: 96%;
	margin: auto;
}

.info
{
	margin-left: 40px;
}

.centered
{
	text-align: center;
}

.right-align
{
	float: right;
}

.split
{
	display: flex;
	justify-content: space-between;
}

/* --- Lists --- */
ul
{
	font-size: 1.4em;
	margin-left: 60px;
	margin-bottom: 10px;
}

li
{
	list-style: disc;
}

@media only screen and (max-width: 600px) {
	#resume {
		width: 90%;
	}

	.split {
		display: block;
		margin-left: 10px;
	}

	.right-align {
		float: none;
	}

	.info {
		margin-left: 0px;
		position: static;
	}

	h4 {
		margin-left: 0px;
	}

	ul {
		margin-left: 30px;
	}

	.interests {
		margin-left: 10px;
	}

	.list {
		margin-left: 20px;
	}

	.centered {
		font-size: 1.5em;
	}
}
