/* --- Resume --- */
#resume
{
	position: relative;
	width: 75%;
	padding-bottom: 40px;
	padding-top: 50px;
	height: auto;
	border: solid 4px black;
	border-radius: 60px;
	background-color: #fff;
	font-family: "HK", sans-serif;
}

.res-container
{
	width: 90%;
	margin: auto;
	padding: none;
}

.indent
{
	margin-left: 20px;
}

.centered
{
	text-align: center;
}

.date-loc
{

	font-size: 1.8em;
}

.org-info
{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 30px;
}

.left-col
{
	width: 60%;
	margin-right: 10px;
}

.right-col
{
	width: calc(40% - 10px);
}

.list
{
	margin-left: 40px;
	margin-bottom: 10px;
}

.interests
{
	margin-bottom: 10px;
}

/* --- Headers --- */
h2
{
	font-size: 2.4em;
	font-weight: bold;
	margin-top: 10px;
	font-family: "HK";
}

h3
{
	font-size: 2em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

h4
{
	font-size: 1.8em;
	margin-left: 20px;
	font-weight: bold;
}

p
{
	font-family: "HK", sans-serif;
	font-size: 1.8em;
}

/* --- Lists --- */
ul
{
	font-size: 1.8em;
	margin-left: 20px;
	margin-bottom: 30px;
}

li
{
	list-style: none;
	margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
	#resume {
		width: 90%;
	}

	.split {
		display: block;
		margin-left: 10px;
	}

	.right-align {
		float: none;
	}

	.info {
		margin-left: 0px;
		position: static;
	}

	h4 {
		margin-left: 0px;
	}

	ul {
		margin-left: 30px;
	}

	.interests {
		margin-left: 10px;
	}

	.list {
		margin-left: 20px;
	}

	.centered {
		font-size: 1.5em;
	}
}
