@font-face
{
	font-family: "TeX";
	src: url("../fonts/texgyreheros-bold-webfont.woff");
	font-weight: bold;
}

@font-face
{
	font-family: "TeX";
	src: url("../fonts/texgyreheros-regular-webfont.woff");
}

@font-face
{
	font-family: "Albertus";
	src: url("../fonts/A028-Med.ttf");
}

@font-face
{
	font-family: "Albertus";
	src: url("../fonts/A028-Ext.ttf");
	font-weight: bold;
}

@font-face
{
	font-family: "HK";
	src: url("../fonts/HKGrotesk-Regular.otf");

}

@font-face
{
	font-family: "HK";
	src: url("../fonts/HKGrotesk-Bold.otf");
	font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

/* ---Highlighting --- */
::selection {
  background: #ffccdd;
}
::-moz-selection {
  background: #ffccdd;
}

/* --- Scrollbar ---
   width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff0df;
	border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
	border: solid 2px black;
	border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

html {
	overflow-y: scroll;
	height: 100%;
	background-color:#f0f6ff;
	font-feature-settings: "salt";
	line-height: normal;
}

body
{
	margin: 0;
	margin-left:auto;
	margin-right:auto;
	height: 100%;
}

p
{
	font-family: "HK", sans-serif;
	font-size: 1.4em;
	margin-bottom: 10px;
}
.wrapper
{
	height:auto;
	position:static;
}

#me
{
	width: 50%;
	display: flex;
	justify-content: center;
}

#homeImage
{
	max-width: 50%;
	height: auto;
	border: solid 4px black;
  border-radius: 20px;
}

#home
{
	width: 75%;
	height: auto;
	border: solid 4px black;
  border-radius: 60px;
	background-color: #fff;
	padding-top: 3vw;
}

#about
{
	width: 50%;
}

#download
{
	position: absolute;
	top: 1em;
	margin-left: 1em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	font-size: 1.5em;
	float: left;
	border: 2px solid black;
	background-color: white;
	z-index: 0;
	border-radius: 10px;
}

#download:hover
{
	background-color: #cf1364;
	color: white;
}

/* --- Headers --- */
h2
{
	font-size: 2.4em;
	font-weight: bold;
	margin-top: 10px;
	font-family: "HK";
}

h3
{
	font-size: 2em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

h4
{
	font-size: 1.6em;
	margin-left: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

/* --- Lists --- */
ul
{
	font-size: 1.4em;
	margin-left: 60px;
	margin-bottom: 10px;
}

li
{
	list-style: disc;
}

.center
{
	text-align: center;
}

a.homeLink:link
{
	color: #FFF;
}
a.homeLink:visited
{
	color: #FFF;
}

a:hover
{
	color: purple;
	text-decoration: none;
}
