@font-face
{
	font-family: "TeX";
	src: url("../fonts/texgyreheros-bold-webfont.woff");
	font-weight: bold;
}

@font-face
{
	font-family: "TeX";
	src: url("../fonts/texgyreheros-regular-webfont.woff");
}

@font-face
{
	font-family: "Albertus";
	src: url("../fonts/A028-Med.ttf");
}

@font-face
{
	font-family: "Albertus";
	src: url("../fonts/A028-Ext.ttf");
	font-weight: bold;
}

@font-face
{
	font-family: "HK";
	src: url("../fonts/HKGrotesk-Regular.otf");

}

@font-face
{
	font-family: "HK";
	src: url("../fonts/HKGrotesk-Bold.otf");
	font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

/* ---Highlighting --- */
::selection {
  background: #ffccdd;
}
::-moz-selection {
  background: #ffccdd;
}

/* --- Scrollbar ---
   width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bbb;
	border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
	border: solid 2px black;
	border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

html {
	overflow-y: scroll;
	height: 100%;
	background-color: #e6e6e6;
	font-feature-settings: "salt";
	line-height: normal;
}

body
{
	margin: 0;
	margin-left:auto;
	margin-right:auto;
	height: 100%;
}

p.about
{
	font-size: 1.2em;
}

.contact
{
	margin-bottom: 10px;
}

.wrapper
{
	height:auto;
	position:static;
}

#me
{
	width: 50%;
	display: flex;
	justify-content: center;
}

#homeImage
{
	max-height: 28vw;
}

#home
{
	width: 75%;
	height: auto;
	border: solid 4px black;
  border-radius: 60px;
	background-color: #fff;
	padding-top: 3vw;
	font-family: "HK", sans-serif;
}

#about
{
	width: 50%;
}

.center
{
	text-align: center;
}



a.contact-link
{
	font-size: 1.2em;
	color: #000;
}

a.contact-link:visited
{
	color: #000;
}

a.contact-link:hover
{
	color: #000;
	text-decoration: underline;
}

@media only screen and (max-width: 600px) {
	#home {
		width: 90%;
	}

	#about {
		width: 100%;
		margin-bottom: 20px;
	}

	#me {
		width: 100%;
		height: auto;
	}

	#homeImage {
		max-width: 100%;
		max-height: none;
	}
}
