.container
{
  height: 100%;
  top: 160px;
  position: relative;
  width: 80%;
  margin-left: 10%;
}

.row
{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3vw;
}

.project
{
  height: 350px;
  width: 350px;
  background-color: #f0f0f0;
  border-radius: 30px;
  border: solid 3px black;
  transition: box-shadow 0.1s linear;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 3em;
  justify-content: center;
  font-family: 'HK'
}

  .project:hover
  {
    box-shadow: 0px 0px 10px #555555;
  }

  .project:active
  {
    box-shadow: none;
  }

a.project
{
  color: #000;
}

@media only screen and (max-width: 600px) {
  .row {
    display: block;
  }
}
